#MainDiv{
    display: flex;
    height: 115px;
    width: 115px;
  
    align-items: center;
    justify-content: center;
  
   
}

#InnerDiv{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    text-align: center;
}